.focused:focus {
  border-color: #7c3aed !important;
  box-shadow: 0 0 1px #b197fc !important;
}

.responsiveContainer {
  max-width: 300px;

  @media (min-width: em(400px)) {
    max-width: 400px;
  }

  @media (min-width: em(600px)) {
    max-width: 600px;
  }
}